{{ define "main" }}
    <section id="about">
        <!-- Renders text from content/_index.md -->
        {{ .Content }}
    </section>

    <section id="projects">
        <span class="h1">Projects</span>
        <div class="project-list">
            {{ range where .Site.RegularPages "Section" "posts" }}
                {{ if .Params.image }}
                <a href="{{ .Permalink }}" class="project-row">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                    <div class="project-info">
                        <h3>{{ .Params.short_title | default .Title }}</h3>
                        <p>{{ .Description }}</p>
                    </div>
                </a>
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}
