$color-background: #fafaf8;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #5f646b;
$color-meta: #555b63;
$color-meta-code: lighten($color-meta, 10%);
$color-link: rgba(23, 74, 126, .35);
$color-text: #17191c;
$color-accent-1: #174a7e;
$color-accent-2: #2569a8;
$color-accent-3: #555b63;
$color-quote: #174a7e;
